<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739174236154-08n3ebac0lk0nfd2r0lksu8djtltu8h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739174236154-08n3ebac0lk0nfd2r0lksu8djtltu8h5</string>
	<key>API_KEY</key>
	<string>AIzaSyBbeu5Om7vd56CzlLNanVjgGH70-6wwUBg</string>
	<key>GCM_SENDER_ID</key>
	<string>739174236154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.partyspot.partyspot</string>
	<key>PROJECT_ID</key>
	<string>partyspot-a68fb</string>
	<key>STORAGE_BUCKET</key>
	<string>partyspot-a68fb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739174236154:ios:5ac026781f8715d198ae43</string>
</dict>
</plist>